---
title: Swifty – Modern, Lightweight and Free Password Manager
---
<div class="wrapper">
  <a href="https://github.com/alchaplinsky/swifty" class="github-button" target="_blank">View on Github</a>
  <%= image_tag "banner.png" %>
  <div class="banner">
    <h1>Swifty is a modern, lightweight and free Password Manager</h1>
    <a href="https://github.com/alchaplinsky/swifty/releases" class="button" target="_blank">
      Download Swifty for macOS
    </a>
  </div>
</div>
